input {
    width: 215px;
    height: 19px;
}
button{
    width: 50px;
    height: 25px;
    float: right;
    background-color: #187ddb;
    color: #fff;
    border: none;
}
body{
    width: 350px;
    font-size: medium;
    font-family: sans-serif;
}
ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
li{
    width: 345px;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
    min-height: 17px;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
    min-height: 17px;
    
}
#add_task{
    display: inline;
}